[submodule "ckan-docker/ckan/src/ckanext-spark"]
        path = ckan-docker/ckan/src/ckanext-spark
        url = git@github.com:BU-Spark/ckanext-spark.git
[submodule "ckan-docker/src/ckanext-spark"]
	path = ckan-docker/src/ckanext-spark
	url = git@ckanext-spark.github.com:BU-Spark/ckanext-spark.git
