.account-masthead{
    background-color: black!important;
}
.masthead{
    background-color: rgb(0, 0, 0)!important; 
}

.main{
   background: linear-gradient(white)!important; 
   height: auto;
}
.main-hero{
    background: white;
}


